@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

a.button,
button:not(.notlink) {
    @apply cursor-pointer rounded-lg border-2 border-slate-500 bg-slate-800 text-white transition duration-200 hover:bg-slate-700
}