@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

a.custom,
button.custom {
    @apply inline-flex w-full justify-center rounded-md bg-slate-500 text-sm font-semibold text-white hover:bg-slate-400 sm:w-auto
}

main.main_layout {
    @apply flex-1 overflow-y-auto p-4 bg-gradient-to-r to-slate-900 from-slate-700;
}

.card,
main.main_layout form {
    @apply p-6 border-1 border-slate-500 rounded-md shadow-2xl;
}