@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.main_layout {
    @apply flex-1 overflow-y-auto bg-gradient-to-r from-slate-700 to-slate-900 p-4 pb-0;
}

.card,
.main_layout form {
    @apply rounded-md border-1 border-slate-500 p-6 shadow-xl;
}

.home_button,
.custom {
    @apply block cursor-pointer rounded-md border-2 border-slate-500 bg-slate-800 px-4 py-2.5 text-sm tracking-wider text-white hover:bg-slate-900 focus:outline-none;
}

a.custom {
    @apply w-fit text-center;
}

.home_button {
    @apply mb-4 p-4;
}
